.order-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  gap: 4rem;
}

@media (width < 1900) {
  .order-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (width < 1500) {
  .order-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width < 1080) {
  .order-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 750) {
  .order-list {
    grid-template-columns: 1fr;
  }
}
