.contact {
  height: 100%;
  background-color: #eedad1;
  padding: 8rem 16rem;
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

.container {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  min-height: 78vh;
  box-shadow: 0 0 15 rgba(206, 92, 39, 0.5);
  border-radius: 1rem;
}

.line {
  margin-top: 1.5rem;
  width: 3rem;
  border: 1px solid #707070;
}

.line-form {
  width: 3rem;
  border: 1px solid #707070;
}

.form-description {
  /* border-top: 1px solid #70707048; */
  width: 80%;
  margin: 0 auto;
  font-size: 1.6rem;
  text-justify: newspaper;
  text-align: center;
  margin-bottom: 3rem;
  color: #333;
}

.business {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  animation: show 300ms 100ms backwards;
}

.heading {
  font-weight: bold;
  color: #333;
  font-size: 2.4rem;
  animation: show 200ms 50ms backwards;
}

.form-heading {
  font-weight: bold;
  font-size: 2.4rem;
  margin-top: 2rem;
  text-align: center;
}

.address,
.phone,
.hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.6rem;
  width: 20%;
  font-size: 1.8rem;
  color: #707070;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.social {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.form {
  margin: 0 auto;
  gap: 2.4rem;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: show 300ms 200ms backwards;
}

.form-inputs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form-input {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  position: relative;
}

.message {
  border-radius: 2rem;
  height: 10dvh;
  width: 100%;
  border: none;
  transition: all 200ms ease-in-out;
  padding: 1rem 1rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
}

.message:focus {
  box-shadow: 0 0px 8px 2px #cf5d2870;
  outline: none;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (width < 1500) {
  .contact {
    padding: 8rem 8rem;
  }
  .heading,
  .form-heading {
    font-size: 1.8rem;
  }
  .address,
  .phone,
  .hours {
    font-size: 1.2rem;
  }
  .form-description {
    font-size: 1.2rem;
  }
}

@media (width < 1250) {
  .contact {
    padding: 4rem 4rem;
  }
  .form {
    width: 50%;
  }
}

@media (width < 650) {
  .business {
    flex-direction: column;
    gap: 2rem;
  }
  .form {
    width: 85%;
  }
}

@media (width < 400) {
  .contact {
    padding: 0;
  }
}
