.main-nav,
.main-nav--mobile {
  min-height: 11rem;
  position: sticky;
  background-color: #eedad1;
  padding: 2.4rem 4.8rem;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 4.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  box-shadow: 0 6px 8px -8px rgba(0, 0, 0, 0.15);
}

.main-nav--mobile {
  min-height: 8rem;
  justify-content: space-between;
}

.main-nav-logo,
.main-nav-logo-menu {
  width: 12.4rem;
  cursor: pointer;
}

.main-nav-menu-icon {
  z-index: 1000000;
  display: flex;
  margin-right: 6rem;
  margin-left: auto;
  transition: all 0.5s ease-in-out;
}

.main-nav img:first-child {
  margin-right: auto;
}

.btn-nav {
  display: block;
  background-color: #eedad1;
  color: #333;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

.btn-nav:hover {
  color: #cf5d28;
}

.menu {
  background-color: #eedad1;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media (width < 1250) {
  .main-nav-logo {
    width: 6.8rem;
  }
  .btn-nav {
    font-size: 1rem;
  }
}
