.forgot-password-wrapper {
  display: flex;
  justify-content: center;
}

.forgot-password {
  border: none;
  background-color: #f5dfd4;
  cursor: pointer;
  text-decoration: none;
  color: #cf5d28;
  font-size: 1.2rem;
}

.create-account {
  text-align: center;
  font-size: 1.2rem;
}

.details {
  transition: all 0.3s ease-in-out;
  animation: slide-down 300ms ease-out forwards;
}

.detail-modal-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.detail-modal-heading {
  text-align: center;
  text-decoration: underline;
}

.detail-modal-row {
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  display: flex;
  position: relative;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
